[Desktop Entry]
Name=Simplenote
Comment=Simplenote for Linux
Exec=env -u GDK_BACKEND /opt/Simplenote/simplenote %U
Terminal=false
Type=Application
Icon=simplenote
StartupWMClass=Simplenote
StartupNotify=true
Categories=Utility;
