[options]
#font = Inconsolata Nerd Font 14
#font = DejaVu Sans Mono Nerd Font 12
font = Ubuntu Mono Nerd Font 14
font = Monospace 12

# Length of the scrollback buffer, 0 disabled the scrollback buffer
# and setting it to a negative value means "infinite scrollback"
scrollback_lines = 100000

[colors]
background = rgba(24, 24, 24, 0.96)
foreground = #FFFFFF

# Black
color0 = #212121
color8 = #78332A

# Red
color1 = #AF743A
color9 = #FF2177

# Green
color2 = #444433
color10 = #BABA58

# Yellow
color3 = #99997C
color11 = #FECC77

# Blue
color4 = #AA9987
color12 = #77C3E2

# Magenta
color5 = #CCCCCC
color13 = #B291DD

# Cyan
color6 = #ECECEC
color14 = #98DDDB

# White
color7 = #FFFFFF
color15 = #DBAB83
